<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="../css/style.css" rel="stylesheet"></link>
</head>

<body>
<!--<div id="fs-login-background">
    <img class="fs-login-img" src="../img/bg.jpg" alt="" galleryimg="no" border="0" style="margin-left: 0px; margin-top: -296.6875px; width: 1366px; height: 768.375px;">
</div>-->
<div id="fs-login">
    <div id="fs-login-scalebg">
        <img class="fs-login-scalebg-img" src="../img/bg.jpg" alt="" galleryimg="no" border="0" style="margin-left: -483px; margin-top: -244.1875px; width: 1366px; height: 768.375px;">
    </div>
    <div id="fs-login-glass"></div>
    <div id="fs-login-content">
        <div id="fs-login-title">数据决策系统</div>
        <div class="fs-login-input fs-login-input-username">
            <input tabindex="1" class="fs-login-username" type="text" placeholder="用户名" title="用户名">
        </div>
        <div class="fs-login-input fs-login-input-password">
            <input tabindex="2" class="fs-login-password" type="password" placeholder="密码" title="密码">
        </div>
        <a tabindex="3" href="#" id="fs-login-btn">登录</a>
        <div class="fs-login-check">
            <span class="fs-login-remember">保持登录状态</span>
        </div>
    </div>
</div>

</body>
</html>
